.banner
    
    &-img 
        background-color: $color-blue-dark
        grid-column: full-start / col-end 4
    &-text
        background-color: $color-blue-dark
        grid-column: col-end 4 / full-end